<h1>Dictionary of Words</h1>
<br>
<h3>Added words</h3>
<br>
<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
        <li><a href="/words/<%= word.id %>"><%= word.spelling %></a></li>
      <% end %>
  </ul>
<% else %>
  <p>There are currently no Words to display.</p>
<% end %>

<a href="/words/new">Add a new Word!</a>
<br>
<form action="/query_word" method="post">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="spelling" class="form-control" type="text">
  </div>
  <button type="submit" class="btn"> Go!</button>
</form>